body {
  background-color: rgb(185, 185, 185);
  padding-left: 100px;
  padding-right: 100px;
}
#blockBtn {
  width: 100px;
  color: white;
  border-radius: 5px;
  padding: 5px;
  background-color: black;
}
#blockBtn:hover {
  border: 1px solid rgb(171, 50, 50);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background-color: rgb(171, 50, 50);
}
